# Data Exploration with Python

## EXERCISE 1: Reading and Accessing Data

### Read the survey response data

The `csv` module supports reading and writing of files in comma-separated values (CSV) and similar formats. We use `DictReader` since the first row of our survey responses file is a header. This produces a list of dictionaries, one dictionary per each individual survey response. 

A _dictionary_ is a data structure in Python that can hold key-value pairs, where we can lookup values by their key (typically a string). 

The `pprint` command below prints the dictionary corresponding the the first response.

In [ ]:
import csv
with open('programming_experience_survey_2019.csv') as csvfile:

### Let's define constants for dictionary keys

Before moving on, let's define constants for the keys of this dictionary that will make it a bit easier to use. In our case, the keys are simply the questions from our survey in Week 1.

In [ ]:
# TODO For you
raise NotImplementedError

### Accessing data values

This allows us to access cells in a row using the column name as a key. For example, the following prints the number of years professional experience for the first respondent. Note that the csv module reads all values as strings.

In [ ]:
# TODO For you
raise NotImplementedError

## TODO for you
Display the 9th, 15th, 31th and the 2nd last record of the dictionary (hint: follow the python codes in the lecture slides).

In [ ]:
# TODO For you
raise NotImplementedError

## EXERCISE 2: Data Cleaning and Conversion

### 2a) Encoding Python Programming Experience

Write some Python code that considers the provided levels of Python experience and encodes each level to a corresponding integer number from 1 to 5.

In [ ]:
# TODO For you
raise NotImplementedError

### 2b)  Counting ProgLang Competencies

Define the cardinality for each respondent by considering responses in regards to their experience described in ’other programming languages competency’. For example, a response like ’C#, Java, Javascript/ECMAScript, Matlab’ = 4, ’Matlab,R’ = 2, ... likewise.

In [ ]:
# TODO For you
raise NotImplementedError

### 2c) Counting RDBMS Competencies

Define the cardinality for each respondent by considering responses in regards to their RDBMS experience described in the 'Relational Database Competency’ column (e.g., ’Microsoft Access, Microsoft SQL Server, Oracle, PostgreSQL’ = 4, ’MySQL, PostgreSQL’ = 2). Define a new list as well and name it as ’Number of SQL Competencies’.

In [ ]:
# TODO For you
raise NotImplementedError

### 2d) Encoding SQL Experience

Encode the column ’SQL Competency’ into integer levels of a five-level Likert scale

In [ ]:
# TODO For you
raise NotImplementedError

### 2e) Cleaning Tutorial Classes Answers

Define a Python method to clean the ’Tutorial class’ column by analysing the texts in cells as follows (it will be written in all kinds of variants, tae the following as a general mapping):

- SIT Lab 115 (Friday 8am-10am) = F08A
- SIT Lab 114 advanced (Friday 8am-10am) = F08ADV
- SIT Lab 115 (Friday 10am-12pm) = F10A
- Madsen Lab (Friday 10am-12pm) = F10B
- SIT Lab 114 advanced (Friday 10am-12pm) = F10ADV
- SIT Lab 115 (Friday 12-2pm) = F12A
- SIT Lab 114 (Friday 12-2pm) = F12B
- Madsen Lab(Friday 12-2pm) = F12C
- SIT Lab 115 (Friday 2-4pm) = F14A
- SIT Lab 130A (Friday 2-4pm) = F14B
- SIT Lab 115 (Friday 4-6pm) = F16A

All strings need to be cleaned and converted such that this column contains only the given (F08A, F10A, F12A, ..., F16A) codes. All values which do not fit into this pattern (e.g. a single ”Yes” answer) should be convert to ’NA’.

In [ ]:
# TODO For you
raise NotImplementedError

## EXERCISE 3: Analysing Date and Time

Display the time component of the ’Submitted’ column by ignoring the date part for the first and last 10 records (rows).
For example, 2018-03-13 23:41:57 should be interpreted as
Hour: 23
Minute: 41 Second: 57

In [ ]:
# TODO For you
raise NotImplementedError

## EXERCISE 4: Data Visualisations

### 4(a) Frequency Plot of Programming Experience
Show a frequency plot of the 'Programming Experience' as given by the respondents. In this plot, the x-axis should contain the experience in years (1, 2, 3, 4, 5...) and y-axis should contain how many respondents have programming experience of the corresponding duration.

In [ ]:
# TODO For you
raise NotImplementedError

### 4(b) Boxplot of Number of Languages Competencies and Number of SQL Competencies

how box plots of the two lickert-scale lists you defined above ('Number of Languages Competencies' and 'Number of SQL Competencies')

In [ ]:
# TODO For you
raise NotImplementedError

### 4(c) Optional and advanced: Histogram of Number of Students per Degree 

Visualize the number students per degree (e.g., how many students are enrolled in computer science degree) as a histogram plot.

In [ ]:
# TODO For you
raise NotImplementedError